filter
*.vo
*.vok
*.vos
*.glob
.*.aux
.lia.cache
.nia.cache
proof/Makefile.rocq*
proof/.Makefile.rocq.d
proof/htr_filter.v
proof/htr-model/
proof/tablekl-model/
proof/vst-model/
proof/exp100-model/
proof/SPECS_READY
proof/EXTERN_READY
check_*.txt
*.o
