htr3cap
htr3gcc
htr3_capla.c
*.o
proof/add.v
proof/htr3.v
proof/htr3.b
apaul/*.vo
apaul/*.vok
apaul/*.vos
apaul/*.glob
apaul/.*.aux
proof/*.vo
proof/*.vok
proof/*.vos
proof/*.glob
proof/.*.aux
caplalib/
_CoqProject
exptable9/*.vo
exptable9/*.vok
exptable9/*.vos
exptable9/*.glob
exptable9/.*.aux
